<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.TC_02_AddNewCustomer_Test_1"/>
      <class name="test.TC_01_loginTest"/>
      <class name="test.TC_02_AddNewCustomer_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
